html {
  font-size: 1.944vw;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }

.links {
  text-align: center;
  font-family: 'Sriracha', cursive;
  color: black;
}

.proj {
  transform: rotate(-24deg);
  position: relative;
  top: 3.5714285714285716em;
  right: 3.5714285714285716em;
}

.blog {
  transform: rotate(17.05deg);
  position: relative;
  top: 1.25em;
  left:2.142857142857143em;
}

.rot-blog {
  transform: rotate(24deg);
}

.overall-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me {
  width: 14.214285714285714em;
  height: 8.214285714285714em;
}

.laptop-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.laptop {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 24.464285714285715em;
  height: 18.928571428571427em;
  margin: 0 auto;
  border-radius:1.7857142857142858em;
  background-color: #C4C4C4;
  position: relative;
  bottom:2.6785714285714284em;
}

.row-1 {
  display: flex;
  flex-direction: row;
}

.row-2 {
  display: flex;
  flex-direction: row;
}

.row-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sticker-jakesmithinfo {
  margin: 0.7142857142857143em 0 0 0.7142857142857143em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 7.678571428571429em;
  height: 4.464285714285714em;
  background-color: #FFFDD0;
}

.sticker-jakesmithinfo a {
  color: #0047AB;
  font-family: 'Sriracha', cursive;
  text-decoration: none;
  margin: 0 auto;
}

.sticker-poop {
  max-width: 2.6785714285714284em;
  max-height: 2.6785714285714284em;
  margin: 1.4285714285714286em 0 0 0.7142857142857143em;
}

.spotify-beer {
  display: flex;
  flex-direction: column;
}

.sticker-spotify {
  margin:0.35714285714285715em 0 0 0.7142857142857143em;
} .sticker-spotify img {
  max-width: 5.714285714285714em;
  max-height: 1.7142857142857142em;
}

.sticker-beer {
  margin: 0.35714285714285715em 0 0 1.7857142857142858em;
  max-width: 3.5714285714285716em;
  max-height: 3.5714285714285716em;
}

.sticker-github {
  max-width: 6.785714285714286em;
  max-height: 5.714285714285714em;
}

.sticker-js {
  max-width: 3.4285714285714284em;
  max-height: 3.4285714285714284em;
  position: relative;
  bottom: 0.7142857142857143em;
  left: 0.35714285714285715em;
}

.sticker-react {
  max-width: 6.071428571428571em;
  max-height: 4.5em;
  position: relative;
  bottom: 1.4285714285714286em;
}

.sticker-swift {
  max-width: 5.178571428571429em;
  max-height: 4.642857142857143em;
  position: relative;
  bottom: 1.4285714285714286em;
  right:0.7142857142857143em;
}
.sticker-instagram {
  position: relative;
  bottom: 0.7142857142857143em;
  left: 1.0714285714285714em;
} .sticker-instagram img {
  max-width: 4.785714285714286em;
  max-height: 4.785714285714286em;
}

.sticker-twitter {
  position: relative;
  bottom: 1.0714285714285714em;
} .sticker-twitter img {
  max-width: 5.571428571428571em;
  max-height: 5.571428571428571em;
}

.sticker-coffee {
  max-width: 2.9285714285714284em;
  max-height: 2.9285714285714284em;
  position: relative;
  bottom: 2.5em;
  right: 1.0714285714285714em;
}

.sticker-projects {
  position: relative;
  bottom: 2.5em;
  right: 1.4285714285714286em;
} .sticker-projects img {
  max-width: 4.571428571428571em;
  max-height: 4.571428571428571em;
}

.sticker-ufo {
  max-width: 4.571428571428571em;
  max-height: 4.571428571428571em;
  transform: rotate(5.35deg);
  position: relative;
  bottom: 2.857142857142857em;
  left: 1.0714285714285714em;
}

.sticker-basketball {
  max-width: 4.25em;
  max-height: 4.25em;
  position: relative;
  bottom: 1.9642857142857142em;
  left: 1.0714285714285714em;
}

.sticker-blog {
  max-width: 4.571428571428571em;
  max-height: 4.571428571428571em;
  position: relative;
  bottom: 3.2142857142857144em;
  right: 0.35714285714285715em;
}

.sticker-cat {
  max-width: 4.642857142857143em;
  max-height: 4.642857142857143em;
  position: relative;
  bottom: 2.857142857142857em;
  left: 0.35714285714285715em;
}

.sticker-dev {
  position: relative;
  bottom: 3.5714285714285716em;
}

.sticker-dev img {
  max-width: 5.357142857142857em;
  max-height: 5.357142857142857em;
}

.git-bash {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 2.142857142857143em;
}

.sticker-git {
  max-width: 3.9285714285714284em;
  max-height: 1.6071428571428572em;
}

.sticker-bash {
  max-width: 4.285714285714286em;
  max-height: 1.7857142857142858em;
}

.desk-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desk {
  width: 31.25em;
  height: 2.142857142857143em;
  background-color: #6B3600;
  position: relative;
  bottom: 2.6785714285714284em;
}

@media (max-width:500px) {
  html {
    font-size: .75em;
  }
}

@media (min-width: 500px) {
  html {
    font-size: 1em;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 2vw;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 25.6px;
  }
}