body {
  font-size: 1vw;
}

.container {
  position: relative;
  width: 100%;
}

.img-me {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 31.487em;
  height: 31.487em;
}

.laptop {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 54.193em;
  height: 41.930em;
  border-radius: 5.934em;
  background-color: #c4c4c4;
  top: 15.823vw;
}

.row-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.row-2 {
  display: flex;
  flex-direction: row;
}

.row-3 {
  display: flex;
  flex-direction: row;
}

.row-4 {
  display: flex;
  flex-direction: row;
}

.link-jakesmithinfo {
  width: 31.1%;
}

.sticker-jakesmithinfo {
  width: 100%;
}

.link-strava {
  width: 18.7%;
}

.sticker-strava {
  width: 100%;
}

.link-udel {
  width: 37.4%;
}

.sticker-udel {
  width: 100%;
}

.link-js {
  width: 18.7%;
}

.sticker-js {
  width: 100%;
}
.link-react {
  width: 18.7%;
}

.sticker-react {
  width: 100%;
}
.link-swift {
  width: 18.7%;
}

.sticker-swift {
  width: 100%;
}
.link-beer {
  width: 18.7%;
}

.sticker-beer {
  width: 100%;
}
.link-instagram {
  width: 18.7%;
}

.sticker-instagram {
  width: 100%;
}

.link-coffee {
  width: 18.7%;
}

.sticker-coffee {
  width: 100%;
}

.link-projects {
  width: 18.7%;
}

.sticker-projects {
  width: 100%;
}

.link-github {
  width: 18.7%;
}

.sticker-github {
  width: 100%;
}

.link-dev {
  width: 18.7%;
}

.sticker-dev {
  width: 100%;
}

.link-twitter {
  width: 18.7%;
}

.sticker-twitter {
  width: 100%;
}

.link-blog {
  width: 18.7%;
}

.sticker-blog {
  width: 100%;
}

.link-basketball {
  width: 18.7%;
}

.sticker-basketball {
  width: 100%;
}

.link-stella {
  width: 18.7%;
}

.sticker-stella {
  width: 100%;
}

.link-spotify {
  width: 18.7%;
}

.sticker-spotify {
  width: 100%;
}

header{
  text-align: center;
}

header a {
  margin-right: 3.956vw;
  font-size: 2em;
  font-family: 'Roboto Mono', monospace;
}

a:visited {
  text-decoration: none;
  color: black;
}
a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}

@media (min-width: 785px) {
  header a { 
    font-size: 32px
  }
}

@media(min-width: 1264px) {
  .laptop {
    width: 685px;
    height: 530px;
    border-radius: 75px;
    top: 202px;
  }

  header a {
    margin-right: 50px;
  }

  .img-me {
    width: 403px;
    height: 403px;
  }
}

@media(max-width: 600px) {
  .laptop {
    width: 330px;
    height: 255px;
    border-radius: 35px;
    top: 95px;
  }

  header a {
    font-size: 16px;
  }

  .img-me {
    width: 189px;
    height: 189px;
  }
}